.icons p {
  color: black;
  width: fit-content;
  height: 60%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1.5s linear infinite;
}

@media (max-width: 768px) {
  .icons p {
    height: 40%;
  }
}
