.container {
  text-align: center;
  margin-top: 100px;
}

.sentence {
  color: aquamarine;
}
h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.link {
  color: #007bff; /* Colore del link */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  margin-top: 5px; /* Distanza tra il link e la barra */
}
